<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h4 class="display-4">Vaccine is Available for the pincode <%= center[0].pincode %> at the below centers.</h4>
        
            
            <p>Register yourslf and book your slot on <a href="https://www.cowin.gov.in/home">www.cowin.gov.in</a></p>
            
          </div>
    </div>
    <div class="container" id="participantTable">         
        <table class="table table-bordered table-success table-striped table-hover table-responsive-lg border-dark" id="tab">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Block</th>
                  <th scope="col">Fee ( ₹ )</th>
                  <th scope="col">Available Capacity</th>
                  <th scope="col">Vaccine</th>
              </tr>
              </thead>
              <tbody>
               
                <% for(let i=0; i < center.length; ++i) { %>
                   <tr>
                  <th scope="row"><%= (i+1) %></th>
                  <td><%= center[i].name %></td>
                  <td><%= center[i].address %></td>
                  <td><%= center[i].block_name %></td>
                  <td><%= center[i].fee %></td>
                  <td><%= center[i].available_capacity %></td>
                  <td><%= center[i].vaccine %></td>
              </tr>
                <%}%>
          </tbody>
        </table>
      </div>
      <div class="container"><a class="btn btn-primary btn-lg" href="/" role="button">Check again</a></div>
      

</body>
</html>